# A quick tour of IPython Notebook

In [2]:
%time sum([x for x in range(100000)])

CPU times: user 21 ms, sys: 4.69 ms, total: 25.7 ms
Wall time: 25.5 ms

4999950000

In [3]:
%time sum(x for x in range(100000))

CPU times: user 31.7 ms, sys: 2.86 ms, total: 34.5 ms
Wall time: 34 ms

4999950000

In [5]:
%timeit sum([x for x in range(100000)])

17.4 ms ± 714 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:
%timeit sum(x for x in range(100000))

20 ms ± 823 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
# List all magics
%magic

In [8]:
# Reference sheet
%quickref

In [9]:
%%perl

$_ = "whoa, python!";
s/python/perl/;
print

whoa, perl!

# 1.1 Reading data from a csv file

* change the column separator to a `;`
* Set the encoding to `'latin1'` (the default is `'utf8'`)
* Parse the dates in the 'Date' column
* Tell it that our dates have the day first instead of the month first
* Set the index to be the 'Date' column

In [18]:
df = pd.read_csv('./data/bikes.csv', sep=';', encoding='latin1', 
                 parse_dates=['Date'], dayfirst=True, 
                 index_col='Date')
df.head()

,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
Date,,,,,,,,,
2012-01-01,35,NaN,0,38,51,26,10,16,NaN
2012-01-02,83,NaN,1,68,153,53,6,43,NaN
2012-01-03,135,NaN,2,104,248,89,3,58,NaN
2012-01-04,144,NaN,1,116,318,111,8,61,NaN
2012-01-05,197,NaN,2,124,330,97,13,95,NaN