# Categorical Data

Categoricals are a pandas data type, which correspond to categorical variables in statistics: a variable, which can take
on only a limited, and usually fixed, number of possible values (categories; levels in R). Examples are gender, social
class, blood types, country affiliations, observation time or ratings via Likert scales.

In contrast to statistical categorical variables, categorical data might have an order (e.g. ‘strongly agree’ vs ‘agree’ or
‘first observation’ vs. ‘second observation’), but numerical operations (additions, divisions, ...) are not possible.

All values of categorical data are either in categories or np.nan. Order is defined by the order of categories, not lexical
order of the values.

In [1]:
import pandas as pd
import numpy as np
file_name_string = 'data/EmployeesWithGrades.xlsx'
employees_df = pd.read_excel(file_name_string, 'Sheet1', index_col=None, na_values=['NA'])

In [2]:
employees_df.head()

    Department     Name  YearsOfService Grade
0    Marketing     Able               4     a
1  Engineering    Baker               7     b
2   Accounting  Charlie              12     c
3    Marketing    Delta               1     d
4  Engineering     Echo              15     f

##### Change data type
change data type for "Grade" column to category

In [3]:
employees_df["Grade"] = employees_df["Grade"].astype("category")

##### Rename the categories
Rename the categories to more meaningful names (assigning to Series.cat.categories is inplace)

In [4]:
employees_df["Grade"].cat.categories = ["excellent", "good", "acceptable", "poor", "unacceptable"]

### Values in data frame have not changed

In [5]:
employees_df.head()

    Department     Name  YearsOfService         Grade
0    Marketing     Able               4     excellent
1  Engineering    Baker               7          good
2   Accounting  Charlie              12    acceptable
3    Marketing    Delta               1          poor
4  Engineering     Echo              15  unacceptable

tabulate Department, Name, and YearsOfService, by Grade

In [6]:
employees_df.groupby('Grade').count()

              Department  Name  YearsOfService
Grade
excellent              6     6               6
good                   5     5               5
acceptable             5     5               5
poor                   5     5               5
unacceptable           5     5               5