### Lists

In [16]:
nephews = ['Tom', 'Dick', 'Harry']

In [17]:
len(nephews)

3

In [18]:
for i in range(len(nephews)):
    nephews[i] = nephews[i] + ' Duck'
print(nephews)

['Tom Duck', 'Dick Duck', 'Harry Duck']

In [19]:
nephews.append('Sally Duck')
nephews

['Tom Duck', 'Dick Duck', 'Harry Duck', 'Sally Duck']

In [20]:
nephews.extend(['John Duck', 'Elton Duck'])
nephews

['Tom Duck',
 'Dick Duck',
 'Harry Duck',
 'Sally Duck',
 'John Duck',
 'Elton Duck']

In [21]:
ducks = nephews + ['Donald Duck', 'Daisey Duck']
print(ducks)

['Tom Duck', 'Dick Duck', 'Harry Duck', 'Sally Duck', 'John Duck', 'Elton Duck', 'Donald Duck', 'Daisey Duck']

In [22]:
ducks.insert(0, 'Scrooge McDuck')
print(ducks)

['Scrooge McDuck', 'Tom Duck', 'Dick Duck', 'Harry Duck', 'Sally Duck', 'John Duck', 'Elton Duck', 'Donald Duck', 'Daisey Duck']

In [23]:
del ducks[0]
print(ducks)

['Tom Duck', 'Dick Duck', 'Harry Duck', 'Sally Duck', 'John Duck', 'Elton Duck', 'Donald Duck', 'Daisey Duck']

In [24]:
ducks.remove('Harry Duck')
print(ducks)

['Tom Duck', 'Dick Duck', 'Sally Duck', 'John Duck', 'Elton Duck', 'Donald Duck', 'Daisey Duck']

In [25]:
ducks.sort()
print(ducks)

['Daisey Duck', 'Dick Duck', 'Donald Duck', 'Elton Duck', 'John Duck', 'Sally Duck', 'Tom Duck']

In [26]:
squares = [0, 1, 4, 9, 16, 25, 36, 49]

In [27]:
squares[1:3]

[1, 4]

In [29]:
squares[2:4] = ['4', '9']
print(squares)

[0, 1, '4', '9', 16, 25, 36, 49]

In [30]:
del squares[-2:]
print(squares)

[0, 1, '4', '9', 16, 25]

In [32]:
for value in squares:
    print('Element:', value)

Element: 0
Element: 1
Element: 4
Element: 9
Element: 16
Element: 25

In [33]:
for index, value in enumerate(squares):
     print('Element', index, '->', value)

Element 0 -> 0
Element 1 -> 1
Element 2 -> 4
Element 3 -> 9
Element 4 -> 16
Element 5 -> 25

### Dictionaries

In [47]:
capitals = {
    'United States': 'Washington DC',
    'France': 'Paris',
    'Italy': 'Rome'
}

In [48]:
capitals['Italy']

'Rome'

In [49]:
capitals['Spain'] = 'Madrid'
capitals

{'France': 'Paris',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'United States': 'Washington DC'}

In [50]:
capitals['Germany']

KeyError: 'Germany'

In [51]:
'Germany' in capitals

False

In [52]:
'Italy' in capitals

True

In [56]:
morecapitals = {
    'Germany': 'Berlin',
    'United Kingdom': 'London'
}

In [57]:
capitals.update(morecapitals)
capitals

{'France': 'Paris',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'United Kingdom': 'London',
 'United States': 'Washington DC'}

In [58]:
del capitals['United States']
capitals

{'France': 'Paris',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Spain': 'Madrid',
 'United Kingdom': 'London'}

In [59]:
for key in capitals:
    print(key, capitals[key])

France Paris
Italy Rome
Spain Madrid
Germany Berlin
United Kingdom London

In [61]:
for key in capitals.keys():
    print(key)

France
Italy
Spain
Germany
United Kingdom

In [62]:
for value in capitals.values():
    print(value)

Paris
Rome
Madrid
Berlin
London

In [63]:
for key, value in capitals.items():
    print(key, value)

France Paris
Italy Rome
Spain Madrid
Germany Berlin
United Kingdom London

### Comprehensions

In [64]:
squares = []

for i in range(10):
    squares.append(i**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
squares = [i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [66]:
squares3 = [i**2 for i in range(30) if i % 3 == 0]
squares3

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729]

In [68]:
squares3_dict = {i: i**2 for i in range(30) if i % 3 == 0}
squares3_dict

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729}

In [69]:
capitals = {
    'United States': 'Washington DC',
    'France': 'Paris',
    'Italy': 'Rome'
}

In [70]:
capitals_bycapital = {capitals[key]: key for key in capitals}
capitals_bycapital

{'Paris': 'France', 'Rome': 'Italy', 'Washington DC': 'United States'}

In [71]:
sum([i**2 for i in range(10)])

285

In [74]:
# generator
sum(i**2 for i in range(10))

285